@{
    string active = string.Empty;
    if (TempData["active"] != null)
    {
        active = TempData["active"].ToString();
    }
}
@*// #Çağatay Akdeniz //*@
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gönüllü | Touch Hope</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/site/assets/img/logo.jpg">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/owl.carousel.css">
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/owl.theme.css">
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/owl.transitions.css">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/normalize.css">
    <link href="~/GonulluUI/green-horizotal/css/dialog/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/GonulluUI/green-horizotal/css/dialog/dialog.css" rel="stylesheet" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/notika-custom-icon.css">
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/jquery.dataTables.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/wave/waves.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/GonulluUI/green-horizotal/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area" style="background:#ff6042">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <img src="~/site/assets/img/logoRemoveBG.jpg" style="width:90px;height:50px" />
                        <span style="font-size:28px;font-family:'Times New Roman';color:whitesmoke">Touch Hope</span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav" style="padding-top:10px">
                            <a asp-action="CikisYap" asp-controller="AnaSayfa" class="navbar-right" style="font-size:20px;padding-top:15px;color:chartreuse">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;ÇIKIŞ YAP
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>@*// #Çağatay Akdeniz //*@
    <!-- Main Menu area start-->@*// #Çağatay Akdeniz //*@
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="dropdown @(active=="anasayfa"?"active":"")">
                            <a asp-controller="AnaSayfa" asp-action="Index"><i class="fas fa-fw fa-tachometer-alt"></i>&nbsp;Ana Sayfa</a>
                        </li>
                        <li class="dropdown @(active=="profil"?"active":"")">
                            <a asp-controller="Profil" asp-action="Index"><i class="fas fa-user"></i>&nbsp;Profil</a>
                        </li>
                        <li class="dropdown @(active=="hastaHayvan"?"active":"")">
                            <a asp-controller="HastaHayvan" asp-action="Index"><i class="fas fa-h-square"></i>&nbsp;Hasta Hayvanlar</a>
                        </li>
                        <li class="dropdown @(active=="iyilesenHayvan"?"active":"")">
                            <a asp-action="IyilestirilenHayvanlar" asp-controller="HastaHayvan"><i class="fas fa-heart"></i>&nbsp;İyileştirdiğim Hayvanlar</a>
                        </li>
                        <li class="dropdown @(active=="bildirim"?"active":"")">
                            <a asp-controller="Bildirim" asp-action="Index"><i class="fas fa-bell"></i>&nbsp;Bildirimler</a>
                        </li>
                    </ul>@*// #Çağatay Akdeniz //*@
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <!-- End Status area-->
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area" style="padding-left:130px;padding-right:150px;padding-bottom:150px">
        @RenderBody()
    </div>
    <!-- End Sale Statistic area-->
    <!-- Start Email Statistic area-->
    <!-- End Email Statistic area-->
    <!-- Start Realtime sts area-->
    <!-- End Realtime sts area-->
    <!-- End Footer area-->
    <!-- jquery
        ============================================ -->
    @RenderSection("JavaScript", false)
    @*<script src="~/GonulluUI/green-horizotal/js/vendor/jquery-1.12.4.min.js"></script>*@
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/counterup/waypoints.min.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/flot/jquery.flot.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/flot/jquery.flot.resize.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/flot/curvedLines.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/knob/jquery.knob.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/knob/jquery.appear.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/knob/knob-active.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/wave/waves.min.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/wave/wave-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/plugins.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/chat/moment.min.js"></script>
    <script src="~/GonulluUI/green-horizotal/js/chat/jquery.chat.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/GonulluUI/green-horizotal/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->

</body>

</html>