@model List<HastaHayvanListModel>
@{
    ViewData["Title"] = "IyilesenHayvan";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="text-center mt-2">
                        <h4 class="font-27" style="color:red">İyileşen Hayvan Listesi</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="table-1_wrapper" class="container-fluid dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="
                              #
                            : activate to sort column ascending" style="width: 61.6562px;">
                                                        #
                                                    </th>
                                                    <th class="sorting_desc font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Soyad: activate to sort column ascending" aria-sort="descending">Açıklama</th>
                                                    <th class="sorting_desc font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Soyad: activate to sort column ascending" aria-sort="descending">Resim</th>
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="E-mail: activate to sort column ascending">Açık Adres</th>
                                                    <th class="sorting_desc font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Soyad: activate to sort column ascending" aria-sort="descending">Olusturulma Tarihi</th>
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Il: activate to sort column ascending">İl</th>
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="TelefonNo: activate to sort column ascending">Aciliyet</th>
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="KullaniciAd: activate to sort column ascending">Tür</th>
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="KullaniciAd: activate to sort column ascending">Görevli Gönüllü</th>
                                                    <th class="sorting font-18" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="KullaniciAd: activate to sort column ascending">Raporlar</th>
                                                </tr>
                                            </thead>
                                            <tbody class="mb-3">

                                                @foreach (var item in Model)
                                                {
                                                    i++;
                                                <tr role="row" class="odd">
                                                    <td class="font-14">@i</td>
                                                    <td class="font-14">@item.Aciklama</td>
                                                    <td class="font-14">
                                                        <getirHastaHayvanResim id="@item.Id"></getirHastaHayvanResim>
                                                    </td>
                                                    <td class="font-14">@item.AcikAdres</td>
                                                    <td class="font-14">@item.OlusturulmaTarih.ToString("D")</td>
                                                    <td class="font-14">@item.Il.Ad</td>
                                                    <td>
                                                        @if (item.Aciliyet.Tanim == "Çok Hafif" || item.Aciliyet.Tanim == "Hafif")
                                                        {
                                                            <span class="badge badge-warning font-15">@item.Aciliyet.Tanim</span>
                                                        }
                                                        else if (item.Aciliyet.Tanim == "Normal")
                                                        {
                                                            <span class="badge badge-warning font-15">@item.Aciliyet.Tanim</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger font-15">@item.Aciliyet.Tanim</span>
                                                        }
                                                    </td>
                                                    <td class="font-14">
                                                        @if (item.Tur == null)
                                                        {
                                                            <h6>Tür belirtilmemiş.</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6>@item.Tur.Ad</h6>
                                                        }
                                                    </td>
                                                    <td class="font-16">@item.Kullanici.KullaniciAd</td>
                                                    <td>
                                                        <a asp-action="GetirRaporlar" asp-route-id="@item.Id" class="btn btn-icon icon-left btn-info text-center font-15">
                                                            <i class="fas fa-info-circle"></i>Raporlar
                                                            <span class="badge badge-dark" style="color:black;background-color:yellow">@item.Raporlar.Count</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

