@model List<BildirimListModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@if (TempData["bildirimOkundu"] != null)
    {
        <div class="swal-overlay swal-overlay--show-modal" tabindex="-1">
            <div class="swal-modal" role="dialog" aria-modal="true">
                <div class="swal-icon swal-icon--success">
                    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
                    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

                    <div class="swal-icon--success__ring"></div>
                    <div class="swal-icon--success__hide-corners"></div>
                </div><div class="swal-title" style="">Başarılı!</div><div class="swal-text" style="">Bildirim Okundu Olarak İşaretlendi.</div><div class="swal-footer">
                    <div class="swal-button-container">

                        <a class="btn btn-info" asp-action="Index" asp-controller="Bildirim">Tamam</a>

                        <div class="swal-button__loader">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }*@

<section class="section">
    <div class="section-body">
        <div class="row">
            <div id="tablo" class="col-12">
                @if (Model.Count > 0)
                {
                    <div class="text-center mt-2">
                        <h4 class="font-28" style="color:red;padding-bottom:15px">Okunmamış Bildirimler</h4>
                    </div>
                    @foreach (var bildirim in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="alert alert-light alert-has-icon">
                                    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                                    <div class="alert-body font-16">
                                        <div class="alert-title">Konu: @bildirim.Baslik</div>
                                        Mesaj: @bildirim.Mesaj
                                    </div>
                                    <a onclick="sil(@bildirim.Id)" style="color:white;font-size:14px" class="btn btn-primary float-right">Okundu Olarak İşaretle</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="lead">
                        <h2 class="text-center p-4" style="color:red">Okunmamış bildiriminiz bulunmamaktadır.</h2>
                    </p>
                }
            </div>
        </div>
        @*@if (Model.Count > 0)
            {
                @foreach (var bildirim in Model)
                {
                    <div class="alert mx-3 my-2">


                        <form asp-action="BildirimOkundu" method="post" asp-route-id="@bildirim.Id">
                            <p class="lead" style="color:black;font-size:larger">

                                @bildirim.Mesaj
                                <button type="submit" class="btn btn-primary float-right">Okundu</button>
                            </p>
                        </form>
                    </div>
                }
            }
            else
            {
                <p class="lead">
                    <h4 class="text-center p-4" style="color:black">Okunmamış bildiriminiz bulunmamaktadır.</h4>
                </p>
            }*@
    </div>
</section>

<script src="~/lib/sweetalert.min.js"></script>
@*<script src="~/lib/sweetalert.js"></script>*@

<script>
    function sil(id) {
        if (id != 0 && id != "") {
            swal({
                title: "Başarılı!",
                text: "Okundu Olarak İşaretlendi!",
                icon: "success"
            }).then(function () {
                $.ajax({
                    url: "/Admin/Bildirim/OkuBildirim/",
                    type: "POST",
                    data: { id: id },
                    success: function (result) {
                        location.reload();
                    }
                })
            });
        }
    }
</script>