@model HayvanRaporDetayModel

@{
    ViewData["Title"] = "IyilestirilenDetayHastaHayvan";
    Layout = "~/Areas/Gonullu/Views/Shared/_GonulluPanelLayout.cshtml";
    int i = 0;
}

<section class="section">
    <div class="section-body">
        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-4" style="padding-left:100px;box-shadow:5px 5px 5px 5px gray;background-color:beige">
                <div class="card author-box">
                    <h4 class="text-center lead pt-2 font-27" style="font:bold;color:red;font-size:28px">Hasta Hayvan Bilgileri</h4>
                    <div class="card-body">
                        <div class="author-box-center">
                            <getirDetayResimBuyukGonullu id="@Model.HastaHayvan.Id" style="padding-left:70px"></getirDetayResimBuyukGonullu>
                            @*<img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">*@
                            <div class="card-body">
                                <div class="card-text" style="padding-top:20px;padding-left:135px">
                                    <span class="badge badge-success" style="background-color:green;font-size:24px">Tamamlandı</span>
                                </div>
                                <br />
                                <strong style="color:blue;font-size:18px" class="font-16">Aciliyet Durumu: </strong> <span class="badge badge-danger" style="font-size:large;background-color:red">@Model.HastaHayvan.Aciliyet.Tanim</span>
                                <br />
                                <br />
                                <strong style="color:blue;font-size:18px" class="font-16">Oluşturulma Tarihi: </strong> <small style="font-size:large;color:black" class="font-16">@Model.HastaHayvan.OlusturulmaTarih.ToLongDateString()</small>
                                <br />
                                <br />
                                <p class="card-text">
                                    <strong style="color:blue;font-size:18px" class="font-16">Açıklama: </strong> <strong class="font-16" style="font-size:16px">@Model.HastaHayvan.Aciklama</strong>
                                </p>
                                <p class="card-text">
                                    <strong style="color:blue;font-size:18px">Açık Adres: </strong> <strong class="font-16" style="font-size:16px">@Model.HastaHayvan.AcikAdres</strong>
                                </p>
                                <p class="card-text">
                                    <strong style="color:blue;font-size:18px" class="font-16">İl: </strong> <strong class="font-16" style="font-size:16px">@Model.HastaHayvan.Il.Ad</strong>
                                </p>
                                <p class="card-text">
                                    <strong style="color:blue;font-size:18px" class="font-16">Tür: </strong>
                                    @if (Model.HastaHayvan.Tur == null)
                                    {
                                        <strong class="font-16" style="font-size:16px">Tür Belirtilmemiş</strong>
                                    }
                                    else
                                    {
                                        <strong class="font-16" style="font-size:16px">@Model.HastaHayvan.Tur.Ad</strong>
                                    }
                                </p>
                                <p class="card-text">
                                    <strong style="color:blue;font-size:18px">Sorumlu Gönüllü: </strong> <strong class="font-16" style="font-size:16px">@Model.HastaHayvan.Kullanici.KullaniciAd @Model.HastaHayvan.Kullanici.Soyad</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8" style="padding-left:60px">
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 style="color:green;font-size:22px">Hayvan Hakkında Yazdığım Raporlar</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (Model.Raporlar.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="font-18" style="color:blue">BASLİK</th>
                                        <th scope="col" class="font-18" style="color:blue">DETAY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Raporlar)
                                    {
                                        i++;
                                        <tr role="row" class="odd">
                                            <td style="font-size:15px">@i</td>
                                            <td style="font-size:15px">@item.Baslik</td>
                                            <td style="font-size:15px">@item.Detay</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="row" style="padding-top:55px">
                                <div class="col-lg-10">
                                    <h3 style="color:red;padding-top:10px">Rapor yazmamışsınız.</h3>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery-1.12.4.min.js"></script>
<script src="~/lib/sweetalert.min.js"></script>
<script src="~/lib/sweetalert.js"></script>

