@model KullaniciSignInModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/site/assets/img/logo.jpg">

    <title>Sisteme Giriş</title>

    <!-- Custom fonts for this template-->
    <link href="~/Gonullu/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Gonullu/css/sb-admin-2.min.css" rel="stylesheet">

</head>

@if (TempData["message"] != null)
{
<div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
    @TempData["message"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<body class="bg-gradient-primary" style="background-image:url('');background-color:#ff6042!important">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">

                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 mb-4" style="color:red;font-size:x-large;font-family:Rockwell">Touch Hope Sisteme Giris</h1>
                                    </div>
                                    <form class="user" asp-action="SignIn" method="post" asp-controller="Auth">
                                        <div class="form-group">
                                            <span asp-validation-for="@Model.KullaniciAd" class="text-danger"></span>
                                            <input type="text" class="form-control form-control-user"
                                                   asp-for="@Model.KullaniciAd" placeholder="Kullanıcı Adı" required>
                                        </div>
                                        <div class="form-group">
                                            <span asp-validation-for="@Model.Sifre" class="text-danger"></span>
                                            <input type="password" class="form-control form-control-user"
                                                   asp-for="@Model.Sifre" placeholder="Şifre" required>
                                        </div>
                                        <div class="text-danger text-align-left mb-2">
                                            <div asp-validation-summary="ModelOnly" class="mt-3 text-danger"></div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block">
                                            Giriş Yap
                                        </button>

                                        <a asp-action="SignUp" asp-controller="Auth" class="btn btn-success btn-user btn-block mt-2">
                                            Gönüllü Olmak İster Misin ?
                                        </a>
                                        <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-user btn-block mt-2">
                                            Ana Sayfaya Dön
                                        </a>
                                        <hr>
                                        <div class="row mt-2">
                                            <img class="col-6" src="~/Gonullu/img/kapakResmii.jpg" />
                                            <img class="col-6" src="~/Gonullu/img/kapakResmi2.jpg" />
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <img class="col-12" src="~/Gonullu/img/kapakResmi3.jpg" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Gonullu/vendor/jquery/jquery.min.js"></script>
    <script src="~/Gonullu/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Gonullu/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Gonullu/js/sb-admin-2.min.js"></script>

</body>

</html>
@section JavaScript
{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}